[submodule "optiscope"]
	path = optiscope
	url = https://github.com/etiamz/optiscope.git
[submodule "AIT"]
	path = AIT
	url = https://github.com/tromp/AIT.git
[submodule "rebound"]
	path = rebound
	url = https://github.com/sweirich/rebound
